<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/base.css}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, text/html">
<title>Pesquisa</title>

</head>

<body>

<div class="section-style" id="cabecalho">

<span class="links2">
<a th:href="@{/registo}">Registar</a>
<a th:href="@{/login}">Login</a>
</span>
    
        
<a th:href="@{/}"><img class="logo" src="imagens/logo.png" alt="logo" /></a>
<form class="search-style" action="/new-search" method="POST">
<input type="search" id="search_term" name="search_term" placeholder="pesquise algo..">
<input class="style-submit-input" type="submit" value="Pesquisar">
<a href="advanced_search.html">Pesquisa Avançada</a>
</form>
<div class="carrinho">
    <form  th:action="@{/user/shopping-cart}" method="POST">
    <button><img class="shopping-cart" th:src="@{/imagens/carrinho.png}" alt="shopping-cart" /></button>
    </form>
    </div>

</div>

<div class="section-style" id="categorias">

<h2>Categorias</h2>
<ul>
<li><a class="categorias-style" id="c1" th:href="@{\#consolas}">Consolas</a></li>
<li><a class="categorias-style" id="c2" href="#">Videojogos</a></li>
<li><a class="categorias-style" id="c3" href="#">Portáteis</a></li>
<li><a class="categorias-style" id="c4" href="#">Acessórios</a></li>
<li><a class="categorias-style" id="c5" href="#">Tablets</a></li>
<li><a class="categorias-style" id="c6" href="#">Smartphones</a></li>
</ul>

</div>

<div class="section-style" id="pesquisa_avancada">

<h3>Pesquisa Avançada</h3>
<dt class="categoria-produtos-hl-style"></dt>

<form class="pesquisa-style" th:action = "@{/advanced_search}" method = "POST">

<p>Descrição do produto:</p>
<textarea name="entry" rows="6" cols="50" placeholder="No more than 300 characters long"></textarea>
<dt></dt>

<label id="cat" for="produto">Categoria:</label>
<select name= "categoriaDoProduto">
<option>Consolas</option>
<option>Videojogos</option>
<option>Portáteis</option>
<option>Acessórios</option>
<option>Tablets</option>
<option>Smartphones</option>
</select>
<dt></dt>

<li>Intervalo de preço mínimo:<input id="preco" type="text" name="preco"></li>
<li>Intervalo de preço máximo:<input id="preco" type="text" name="preco"></li>
<dt></dt>

<label id="local" for="produto">Localização do produto:</label>
<select name= "localizacoes">
<option>Évora</option>
<option>Almada</option>
<option>Setúbal</option>
<option>Lisboa</option>
<option>Porto</option>
<option>Faro</option>
<option>Braga</option>
</select>
<dt></dt>

<li>Data em que o produto foi listado pela 1ª vez: <input id="data" type="date" name="date"></li>
<dt></dt>

<li>Data em que o produto deixa de estar disponível para venda:<input id="indis" type="date" name="date"></li>
<dt></dt>

<input id="submit" type="submit" value="Pesquisar">
<input id="reset" type="reset">

</form>


</div>

<div class="section-style" id="about">

<a href="#">About this page</a>

</div>

</body>
</html>