<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>

<title>Resultados da Procura</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/base.css}">

<style>

table, th, td {
    border: 1px solid black;
}

</style>
    
</head>

<body>

<div class="section-style" id="cabecalho">

<span class="links2">
<a th:href="@{/user}">Registar</a>
<a th:href="@{/login}">Login</a>
</span>

<a th:href="@{/index}"><img class="logo" src="imagens/logo.png" alt="logo" /></a>
<form class="search-style" th:action="@{/new-search}" method="POST">
<input type="search" id="search_term" name="search_term" placeholder="pesquise algo..">
<input class="style-submit-input" type="submit" value="Pesquisar">
<a th:href="@{/advanced_search}">Pesquisa Avançada</a>
</form>
<div class="carrinho">
    <form  th:action="@{/user/shopping-cart}" method="POST">
    <button><img class="shopping-cart" th:src="@{/imagens/carrinho.png}" alt="shopping-cart" /></button>
    </form>
    </div>

</div>

<div class="section-style" id="categorias">

<h2>Categorias</h2>
<ul>
<li><a class="categorias-style" id="c1" th:href="@{/index#consolas}">Consolas</a></li>
<li><a class="categorias-style" id="c2" href="#">Videojogos</a></li>
<li><a class="categorias-style" id="c3" href="#">Portáteis</a></li>
<li><a class="categorias-style" id="c4" href="#">Acessórios</a></li>
<li><a class="categorias-style" id="c5" href="#">Tablets</a></li>
<li><a class="categorias-style" id="c6" href="#">Smartphones</a></li>
</ul>

</div>
    
<div class="section-style" id="pesquisa">

    <table class="tableCenter">

    <tr>
    <th>Nome do produto</th>
    <th>Preço</th>
    </tr>

    <tr th:each="product: ${productList}">
    <td th:text="${product.name}"/>
    <td th:text="${product.price}"/>
    </tr>

    </table>

</div>
    
</body>
</html>